/* Global Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
:root {
  --background-color: #2c2828;
  --bg-secondary: #7a1200;
  --primary-color: #ff6666; 
  --secondary-color: #c926c1; 
  --text-primary: white;
  --text-secondary: rgba(255, 255, 255, 0.644);
    --max-content-width: 1600px; 
}

[data-theme='light'] {
  --background-color: #f7ecec; 
  --bg-secondary: #d65454;
  --primary-color: #c926c1; 
  --secondary-color: #ff6666; 
  --text-primary: rgb(0, 0, 0);
  --text-secondary: rgba(65, 63, 63, 0.644); 
}


html, body {
  height: 100%;
  overflow: hidden;
  background-color: var(--background-color);
  color: var(--text-primary);
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: "Roboto Mono", monospace;
}

/* Global layout settings */
.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Typography */
.title {
  color: var(--text-primary);
  font-size: 54px;
  font-family: "Roboto Slab", serif;
}

.title-red {
  color: var(--primary-color);
  font-size: 54px;
  font-family: "Roboto Slab", serif;
 
}

.sub-title {
  color: var(--text-primary);
  font-size: 17px;
}

.sub-title-red {
  color: var(--primary-color);
  font-size: 32px;
}


.text-block {
  color: var(--text-primary);
  font-size: 0.875rem;
  line-height: 1.75;
}

@media (min-width: 769px) {
  body {
    width: 60%;
    margin: 0 auto;
  }
}

