/* Global Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
:root {
  --background-color: #111; /* Default dark theme */
  --primary-color: #ff6666; /* Default dark theme */
  --secondary-color: #c926c1; /* Default dark theme */
  --text-primary: white; /* Default dark theme */
  --text-secondary: rgba(255, 255, 255, 0.644); /* Default dark theme */
}

[data-theme='light'] {
  --background-color: #f7ecec; /* Light theme */
  --primary-color: #c926c1; /* Light theme */
  --secondary-color: #ff6666; /* Light theme */
  --text-primary: rgb(0, 0, 0); /* Light theme */
  --text-secondary: rgba(65, 63, 63, 0.644); /* Light theme */
}

/* Apply the background color to the body */
body {
  background-color: var(--background-color);
  color: var(--text-primary);
  font-family: Arial, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Global layout settings */
.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Typography */
.title {
  color: var(--text-primary);
  font-size: 42px;
}

.sub-title {
  color: var(--text-secondary);
  font-size: 18px;
}


