---
import BaseLayout from '@layouts/BaseLayout.astro'
import Header from '@components/Header.astro'
import Separator from '@components/Separator.astro'
---

<BaseLayout>
  <Header />
  <main id="main-content">
    <section>
      <code class="title">RDIAS66 BLOG</code>
    </section>

    <Separator />
  </main>
</BaseLayout>

<style></style>
