---
interface Ref {
  name?: string
  icon: string
  url?: string
  blank?: boolean
}
import Separator from './Separator.astro'
import Socials from './Socials.astro'
import IconButton from './ui/IconButton.astro'
const codeRef: Ref = {
  name: 'TechStack',
  icon: 'fa-solid fa-code',
}
---

<div class="footer">
  <Separator />
  <div class="content">
    <code>Rodrigo Dias de Almeida - 2024</code>
    <Socials />

    <IconButton ref={codeRef} />
  </div>
</div>

<style>
  .footer {
    position: sticky;
    bottom: 0;
    width: 100%;
    z-index: 100;
    transition: height 0.3s ease;
    align-items: center;
  }

  .content {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    margin-right: 1rem;

    gap: 1rem;
  }
</style>
