---
interface Ref {
  name?: string
  icon: string
  url?: string
  blank?: boolean
  id?: string
}

import Separator from './Separator.astro'
import Hamburguer from './ui/Hamburguer.astro'
import IconButton from './ui/IconButton.astro'

const { activeNav } = Astro.props

const searchRef: Ref = {
  name: 'Search',
  icon: 'fa-solid fa-magnifying-glass',
  url: '/search',
  blank: false,
}

let themeRef: Ref = {
  name: 'Theme Icon',
  icon: 'fa-solid fa-sun',
  id: 'theme-btn',
}
---

<header class="header-nav">
  <div class="nav-container">
    <a href="/">
      <code class="title logo">RDias66</code>
    </a>

    <Hamburguer />
  </div>
  <ul id="menu-items" class="menu-items hidden">
    <li>
      <a href="/posts/" class={activeNav === 'posts' ? 'active' : ''}>
        <code class="nav-item">Posts</code>
      </a>
    </li>
    <li>
      <a href="/tags/" class={activeNav === 'tags' ? 'active' : ''}>
        <code class="nav-item">Tags</code>
      </a>
    </li>
    <li>
      <a href="/about/" class={activeNav === 'about' ? 'active' : ''}>
        <code class="nav-item">About</code>
      </a>
    </li>
    <li>
      <IconButton ref={searchRef} />
    </li>
    <li>
      <IconButton ref={themeRef} />
    </li>
  </ul>
  <Separator />
</header>

<style>
  .header-nav {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
    transition: height 0.3s ease;
  }

  .nav-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    max-width: 1200px;
    margin: 0 auto;
  }

  a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--text-primary);
    margin-bottom: 0.5rem;
  }

  .menu-items {
    list-style: none;
    display: none;
    gap: 1rem;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1rem;
  }

  .menu-items li {
    padding: 0.5rem 0;
  }

  .menu-items a {
    text-decoration: none;
    color: var(--text-primary);
    font-size: 1rem;
  }

  .menu-items a.active {
    font-weight: bold;
  }

  .hidden {
    display: none;
  }

  .visible {
    display: flex;
    flex-direction: row;
  }

  @media (min-width: 768px) {
    .logo {
      position: absolute;
      margin-top: 0.8rem;
    }
    .nav-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .menu-items {
      display: flex;
      justify-content: end;
      gap: 2rem;
      margin-bottom: 1rem;
    }

    .header-nav.expanded {
      height: auto;
    }
  }
</style>
