---
import type { Page } from 'astro'
import type { CollectionEntry } from 'astro:content'
import PostCard from '@components/ui/PostCard.astro'

export interface Props {
  page: Page<CollectionEntry<'blog'>>
}

const { page } = Astro.props
---

<h1 class="title-red">Todos os posts</h1>
<ul>
  {
    page.data.map(({ data, slug }) => (
      <PostCard href={`/posts/${slug}/`} frontmatter={data} />
    ))
  }
</ul>

{
  page.lastPage > 1 && (
    <nav class="pagination-wrapper" aria-label="Pagination">
      <a
        href={page.url.prev as string}
        class={`mr-4 select-none button ${!page.url.prev ? 'disabled' : ''}`}
        aria-label="Previous"
        aria-disabled={!page.url.prev ? 'true' : 'false'}
      >
        <i class="fa-solid fa-arrow-left" />
        Prev
      </a>
      {page.currentPage} / {page.lastPage}
      <a
        href={page.url.next as string}
        class={`mx-4 select-none button ${!page.url.next ? 'disabled' : ''}`}
        aria-label="Next"
        aria-disabled={!page.url.next ? 'true' : 'false'}
      >
        Prox
        <i class="fa-solid fa-arrow-right" />
      </a>
    </nav>
  )
}

<style>
  .pagination-wrapper {
    margin-bottom: 2rem;
    margin-top: auto;
    display: flex;
    justify-content: center;
  }

  .button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    color: white;
    background-color: #3b82f6;
    transition: background-color 0.3s;
    text-decoration: none;
  }

  .button:hover {
    background-color: #2563eb;
  }

  .disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  .disabled-svg {
    opacity: 0.5;
  }
</style>
