---
import Header from '@components/Header.astro'
import Footer from '@components/Footer.astro'
---

<Header />
<div class="page-layout">
  <slot />
</div>
<Footer />

<style>
  .page-layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 4rem);
    padding: 2rem 1rem;
    margin: 0 auto;
  }

  @media (min-width: 768px) {
    .page-layout {
      max-width: var(--max-content-width);
    }
  }
</style>
