---
import Header from '@components/Header.astro'
import Footer from '@components/Footer.astro'
---

<Header />
<div class="page-layout">
  <slot />
</div>
<Footer />

<style>
  .page-layout {
    height: calc(100vh - 13rem);
    padding: 2rem 1rem;
    margin: 0 auto;
    overflow-y: auto;
  }

  .page-layout::-webkit-scrollbar {
    display: none;
  }

  .page-layout {
    scrollbar-width: 1rem;
    scroll-behavior: smooth;
  }

  @media (min-width: 768px) {
    .page-layout {
      max-height: calc(100vh - 12rem);
      max-width: var(--max-content-width);
    }
  }
</style>
