---

---

<button
  class="hamburger-button focus-outline"
  aria-label="Open Menu"
  aria-expanded="false"
  aria-controls="menu-items"
>
  <div class="line hamburger-line"></div>
  <div class="line hamburger-line"></div>
  <div class="line hamburger-line"></div>
  <div class="line close-line hidden"></div>
  <div class="line close-line hidden"></div>
</button>

<style>
  .hamburger-button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    background: none;
    border: none;
    cursor: pointer;
    position: relative; /* For positioning lines */
  }

  .line {
    height: 2px;
    width: 100%;
    background-color: var(--text-primary);
    transition: opacity 0.3s ease; /* Smooth transition */
  }

  .hamburger-line {
    display: block; /* Default for hamburger lines */
  }

  .close-line {
    position: absolute; /* Positioning for close lines */
    left: 0;
    transition: opacity 0.3s ease; /* Smooth transition */
  }

  .close-line:nth-child(4) {
    top: 0; /* Position the first close line */
    transform: rotate(45deg); /* Rotate for diagonal line */
  }

  .close-line:nth-child(5) {
    top: 0; /* Position the second close line */
    transform: rotate(-45deg); /* Rotate for diagonal line */
  }

  .hidden {
    display: none;
  }
  @media (min-width: 768px) {
    .hamburger-button {
      display: none;
    }
  }
</style>

<script>
  function toggleNav() {
    const menuBtn = document.querySelector('.hamburger-button')
    const menuItems = document.querySelector('#menu-items')
    const hamburgerLines = document.querySelectorAll('.hamburger-line')
    const closeLines = document.querySelectorAll('.close-line')

    menuBtn?.addEventListener('click', () => {
      const isExpanded = menuBtn.getAttribute('aria-expanded') === 'true'
      menuBtn.setAttribute('aria-expanded', (!isExpanded).toString())
      menuItems?.classList.toggle('hidden')
      menuItems?.classList.toggle('visible')

      // Add or remove the expanded class for header
      document
        .querySelector('.header-nav')
        ?.classList.toggle('expanded', !isExpanded)

      // Toggle visibility of hamburger and close lines
      hamburgerLines.forEach((line) =>
        line.classList.toggle('hidden', !isExpanded),
      )
      closeLines.forEach((line) => line.classList.toggle('hidden', isExpanded))
    })
  }

  toggleNav()

  document.addEventListener('astro:after-swap', toggleNav)
</script>
