---
interface Ref {
  name?: string
  icon: string
  url?: string
  blank?: boolean
  id?: string
  disabled?: boolean
}

const { ref } = Astro.props as { ref: Ref }
---

<a
  id={ref.id}
  href={ref.disabled ? undefined : ref.url}
  target={ref.blank && !ref.disabled ? '_blank' : '_self'}
  rel="noopener noreferrer"
  aria-label={ref.name}
  class={ref.disabled ? 'disabled' : ''}
>
  <svg class="icon">
    <use href={`/icons.svg#${ref.icon}`}> </use>
  </svg>

  <style>
    .icon {
      transition: color 0.5s;
      width: 1rem;
      height: 1rem;
      color: var(--text-primary);
      fill: var(--text-primary);
    }

    a:hover {
      cursor: pointer;
    }

    a:hover .icon {
      color: var(--text-secondary);
    }

    a.disabled {
      pointer-events: none;
      color: gray;
      text-decoration: none;
    }

    a.disabled .icon {
      color: gray;
      fill: gray;
    }
  </style>
</a>
